body {
    /* background-color: wheat; */
    background-image: url('../images/under-sea-4.jpg');
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    color: white;  
}




#octo {
    width: 200px;
    height: 200px; 
    position: absolute; 
}
h1 {
    margin-left: 1rem;
    color: gold;
}

p {
    display: inline-block;
    padding-left: 1rem; 
    /* border: 2px solid gold;  */
    font-size: 1.8rem;
    /* color: gold; */
}

#distract {
    width: 200px;
    height: 200px; 
    float: right;
}

 