body {
    background-color: #d7c2ad;
    background-image: url('../images/under-sea-4.jpg');
    /* height:  100%;  */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    color: white;
}

#octo,
#last {
    width: 200px;
    height: 200px;
    position: absolute;
}



h1 {
    margin-left: 3rem;
    color: gold;
}

p {
    display: inline-block;
    margin: 0.5rem;
    font-size: 1.8rem;
}

#distract {
    width: 200px;
    height: 200px;
    float: right;
}

#endMessage {
    margin: 0 auto;
    display: block;
    text-align: center;
    font-size: 2.5rem;
}



/* @media(max-width: 500px) {

body {
    background-image: url("../images/sea-under-tablet.jpg");
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px solid red; 
}


} */