body {
    /* background-color: wheat; */
     
    background-image: url('../images/sea-under.jpg');
    background-repeat: no-repeat;
    /* background-position-x:right; */
    background-size: cover;
    margin: 0;
    padding: 0;
    color: white;  
}


#octo {
    width: 200px;
    height: 200px; 
    position: absolute; 
}
h1 {
    margin-left: 1rem;
}

p {
    display: inline-block;
    padding-left: 1rem; 
    /* border: 2px solid gold;  */
    font-size: 1.8rem;
}

#distract {
    width: 200px;
    height: 200px; 
    float: right;
}

 p {
    
}